@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');


html, body {
	height: 90%;
}

body {
	background-color: #C2C2C2;
}
.container {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}
.title {
	font-family: 'Odibee Sans', cursive;
	z-index: 1;
	color: #292929;
	font-size: 3rem;
}
.texts-container{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 400px;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem 5rem 1rem;
	border-radius: 10px;
	background-color: #ADADAD;
}
.sub-cont {
	height: 600px;
	width: 50%;
	background-color: #B8B8B8;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	text-align: center;
	padding: 1rem;
	width: 70%;
	height: 40px;
	background-color: #EE0045;
	border-radius: 10px;
	z-index: 1;
	color: #FFFFFF;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.button:hover {
	background-color: #EE0045;
	color: white;
	transform: scale(.95);
	font-weight: 600;
}
p {

}
canvas {
	border: 1px solid gray;
	box-shadow: 10px 10px 5px grey;
	position: absolute;
	display: none;
}

.score-cont {
	position: absolute;
	right: 6rem;
	bottom: 4rem;
	z-index: 1;
	display: none;
}
.score {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #EE0045;
	height: 50px;
	width: 200px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-weight: bolder;
	border-radius: 10px;
}